.actionMenu{
    visibility: hidden;
}
.table.table-custom tr:hover{
    cursor: pointer;
}
.table.table-custom tr:hover .actionMenu{
    visibility: visible;
}
.form-wrap{
  
    border-left: 1px solid #dee2e6;
    height: calc(100vh - 144px);
    border-top: 1px solid #dee2e6;
    overflow: auto;
}
h5.sub-head {
    padding: 8px 1rem;
    border: 0px solid #dee2e6;
    border-bottom-width: 1px;
    font-size: 1.0rem;
}
.form-control {
    font-size: 0.9rem;
    font-weight: 500;
}