<div class="card shadow-sm rounded-0">
    <div class="card-body px-0 py-0">
        <div class="content-wrap">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end p-1">
                <button 
                    *ngIf="!isNewUser && !isUpdateUser" 
                    class="btn btn-sm btn-primary"
                    (click)="createUserButton('New User',null,null)"    
                >
                    <i class="pi pi-plus pe-2"></i>
                    Create user
                </button>
                <button 
                    *ngIf="isNewUser || isUpdateUser"
                    type="button"
                    (click)="cancelUserButton()"
                    class="btn btn-sm btn-outline-danger">
                    <i class="pi pi-times pe-2"></i>
                    Cancel
                </button>
                <button 
                    *ngIf="isNewUser"
                    class="btn btn-sm btn-success"
                    (click)="createNewUser()"
                >
                    <i class="pi pi-save pe-2"></i>
                    Save user
                </button>
                <button 
                    *ngIf="isUpdateUser"    
                    class="btn btn-sm btn-success"
                    (click)="updateUser()"
                >
                    <i class="pi pi-user-edit pe-2"></i>
                    Update user
                </button>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="g-0" [ngClass]="(isNewUser != true && isUpdateUser != true)?'col-12':'col-9'">
                        <table class="table table-striped table-hover table-custom">
                            <thead class="table-dark">
                                <tr>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Username</th>
                                    <th>e-Mail</th>
                                    <th>Status</th>
                                    <th>Created by</th>
                                    <th>Created at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of allUsers" key="{{user.userId}}">
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <span class="badge" [ngClass]="user.status=='Active'? 'bg-success':'bg-danger'">
                                            {{user.status}}
                                        </span>
                                    </td>
                                    <td>{{user.createdBy}}</td>
                                    <td>{{user.createdDate | date: 'dd-MMM-yy h:mm:ss a'}}</td>
                                    <td class="text-center">
                                        <div class="dropdown actionMenu">
                                            <button type="button" class="btn btn-outline-dark rounded-circle" data-bs-toggle="dropdown" 
                                            aria-expanded="false" style="width: 32px; height:32px; padding: 0;">
                                            <i class="pi pi-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#" (click)="$event.preventDefault(); createUserButton('Edit User',user.userid,userstatus)">Edit</a></li>
                                            <li><a class="dropdown-item disabled" href="#">Reset Password</a></li>
                                            <li><a class="dropdown-item disabled" href="#" [ngClass]="user.userName=='admin'?'disabled':''">Remove user</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="g-0" [ngClass]="(isNewUser != false) ?'col-3': (isUpdateUser != false)?'col-3':'d-none'">
                        <div class="form-wrap p-0">
                            <form>
                                <h5 class="sub-head">Basic Details</h5>
                                <div class="form-group px-3">
                                    <label for="" class="form-label">First Name</label>
                                    <input 
                                        type="text" 
                                        name="firstName" 
                                        id="" 
                                        class="form-control"
                                        placeholder="First name"
                                        autocomplete="chrome-off"
                                        [(ngModel)]="user['firstName']" 
                                    />
                                </div>
                                <div class="form-group px-3">
                                    <label for="" class="form-label">Last Name</label>
                                    <input 
                                        type="text" 
                                        name="lastName" 
                                        id=""
                                        placeholder="Last Name"
                                        autocomplete="chrome-off"
                                        class="form-control"
                                        [(ngModel)]="user['lastName']"   
                                    />
                                </div>
                                <div class="form-group px-3">
                                    <label for="" class="form-label">E-Mail ID</label>
                                    <input 
                                        type="email" 
                                        name="emailID" 
                                        id=""
                                        placeholder="E-mail ID"
                                        autocomplete="chrome-off"
                                        class="form-control"
                                        [(ngModel)]="user['email']"
                                    />
                                </div>
                                <div class="form-group px-3">
                                    <label for="" class="form-label">Phone Number</label>
                                    <input 
                                        type="text" 
                                        class="form-control"
                                        name="contactNo"
                                        placeholder="Phone Number"
                                        autocomplete="chrome-off"
                                        id=""
                                        [(ngModel)]="user['phoneNo']"
                                    />
                                </div>
                                <h5  class="sub-head mt-3">User Role Groups</h5>
                                <div class="form-group px-3">
                                    <label for="" class="form-label">Select role group</label>
                                    <ng-multiselect-dropdown
                                        [placeholder]="'Select user role'"
                                        [settings]="dropdownSettings"
                                        [data]="allRolesgroups"
                                        [(ngModel)]="userSelectedRoleGroup"
                                        (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
                                    >
                                    </ng-multiselect-dropdown>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div> 
    </div>
</div>