.topWrap{
    width: 100%;
    display: flex;
    padding: 10px 0px 0px 12px;
    border: 0px solid #ddd;
    border-bottom-width: 0px;
}

ul.tab-menu {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 0;
    display: flex;
}
ul.tab-menu li {
    display: inline-block;
    padding: 0px 15px;
    margin: 0px;
    line-height: 1.5;
}
a.tab-links {
    float: left;
    display: block;
    font-size: 0.9rem;    
    font-weight: 500;
    color: #1e272e;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
    border: 0px solid transparent;
    border-bottom-width: 2px;
}

a.tab-links:hover {
    /* background: #017bc2; */
    border: 0px solid transparent;
    color: #017bc2;
    border-radius: 0px;
    border-color: rgb(17 111 191 / .5);
    border-bottom-width: 2px;
}

a.tab-links.active {    
    font-weight: 500;
    background: rgb(1 123 194 / 0);
    color: #116fbf;
    border-radius: 0px;
    border-color: rgb(17 111 191 / .5);
}