<div class="">
    <div class="topWrap">  
        <ul class="tab-menu">
            <li>
                <a 
                    routerLink="/system-configuration/users-module"
                    routerLinkActive="active"
                    class="tab-links"
                >
                    Users
                </a>
            </li>
            <li>
                <a
                    routerLink="/system-configuration/users-roles-module"
                    routerLinkActive="active"
                    class="tab-links"
                >
                    Role Groups
                </a>
            </li>
            <li>
                <a 
                    routerLink="/system-configuration/camera-configuration"
                    routerLinkActive="active"
                    class="tab-links"
                >
                    Camera Configuration
                </a>
            </li>
        </ul> 
    </div>
</div>

<div class="">
    <router-outlet></router-outlet>
</div>