<div class="card shadow-sm rounded-0">
    <div class="card-body px-0 py-0">
        <div class="content-wrap">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end p-1">
                <button class="btn btn-sm btn-primary">
                    <i class="pi pi-plus pe-2"></i>
                    Create role group
                </button>
            </div>
            <table class="table table-striped table-hover table-custom">
                <thead class="table-dark">
                    <tr>
                        <th>Role Group Name</th>
                        <th>Roles</th>
                        <th>Description</th>
                        <th>Created Date</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of allRoleGroups" key="{{role.roleGroupid}}">
                        <td>
                            <span>{{role.roleGroupName}}</span>
                        </td>
                         <td>
                            <!--<ng-template #popTemplate>
                                sdsad
                             </ng-template> -->
                            <div style="text-align: left;">
                                <div *ngFor="let r of role.roles">
                                   
                                    <span 
                                        class="header-h"
                                    >
                                        <!-- {{p.description}} -->
                                        {{r.roleName}} 
                                        <!-- <i class="pi pi-info-circle"></i> -->
                                    </span> 
                                    <!-- <div class="p-1 m-1" style="text-align: left;">
                                        <div *ngFor="let p of r.permission">
                                            <span>{{p.description}}</span>
                                        </div>
                                    </div> -->
                                    
                                </div>
                            </div>
                           
                        </td>
                        <td><span>{{role.description}}</span>
                        </td>
                        <td><span>{{role.createdDate | date: 'dd-MMM-yy h:mm:ss a'}}</span>
                        </td>
                        <td><span>{{role.createdBy}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>