


  .card-signin {
    border: 0;
    border-radius: 1rem;
    /* box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); */
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }

  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 75%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    height: 40%;
    padding: 10px 10px 10px 35px;
    outline: none;
    border-radius:5px;
    font-weight: 600;
  }
  
  .input-field:focus {
    border: 1px solid #0acd61;
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / .12);
  }
  img.app-logo {
    padding: 0px;
    width: 180px;
}
.btn-login{
  font-size: 0.9rem;
  font-weight: 500;
}

