<div>
    <!-- <h4 class="text-center">
        An Industrial Workplace Alerting and Monitoring Platform 
        <br/>
        <small>to Prevent Workplace Injury and Accidents using Deep Learning</small>
    </h4> -->
    <div class="container py-5">        
            <div class="row">
                
                <div class="col-sm-9 col-md-7 col-lg-4 mx-auto employee-information-font-12">
                    <div class="card card-signin mt-3 mb-5 shadow-sm">
                        <div class="card-body">
                            <form (ngSubmit)="doLogin()">
                                <div class="row mb-2">
                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" style="text-align: center;">
                                        <img
                                            src="../assets/logo.svg" 
                                            class="app-logo mb-3" 
                                            alt="KamerAI Logo"
                                        />
                                        
                                    </div>
                                </div>
                                <div class="form-label-group">
                                    <div class="row">                                  
                                        <div class="col-12 mb-2">
                                            <div class="input-container">
                                                <input 
                                                    [(ngModel)]="userCredentials.userName"
                                                    class="input-field form-control mb-2 login-font form-control-sm inptUsername"
                                                    type="text" 
                                                    placeholder="Username" 
                                                    name="usrnm"
                                                    autocomplete="off"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-label-group">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <div class="input-container">
                                                <input
                                                    [(ngModel)]="userCredentials.password"
                                                    class="input-field form-control mb-2 login-font form-control-sm inptPassword"
                                                    type="password" 
                                                    placeholder="Password" 
                                                    name="psw"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button                               
                                    class="btn btn-success btn-login btn-sm text-uppercase"
                                    type="submit"
                                    
                                    >
                                        Sign in
                                    </button>
                                    <!-- (click)="login()" -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>