<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white shadow-sm px-1 py-0" *ngIf="isUserLogging">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">
      <img src="assets/logo.svg"  alt="KamerAI Logo" class="app-logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li 
          class="nav-item d-none" 
         >
          <a class="nav-link" aria-current="page" routerLink="/home-live" routerLinkActive="active">Home</a>
        </li>
        <!-- <li class="nav-item" *appHasPermission="['user_dashboard']">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li> -->
         <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/product-catalog" routerLinkActive="active">Product Catalog</a>
        </li> -->
        <!--<li class="nav-item">
          <a class="nav-link"  routerLink="/live-stream" routerLinkActive="active">Live Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports" routerLinkActive="active">Reports</a>
        </li>
         -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="system-configuration" routerLinkActive="active">System Configuration</a>
        </li> -->
       
      </ul>



      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle userInfo" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">            
            <small>Welcome !</small> 
           Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm border-top border-bottom-0 border-right-0 border-left-0">
            <!-- <li>
              <a class="dropdown-item" href="#">
                <i class="pi pi-user"></i>
                Profile
              </a>
            </li> -->
            <li>
              <a class="dropdown-item" href="#" (click)="$event.preventDefault(); changeUserPassword(changePassword);">
                <i class="pi pi-user-edit"></i>
                Change Password
              </a>
            </li>
            <!-- <li>
              <a class="dropdown-item" href="#">
                <i class="pi pi-cog"></i>
                Settings
              </a>
            </li> -->
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#" (click)="$event.preventDefault(); doLogout()">
                <i class="pi pi-sign-out"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


<ngx-ui-loader></ngx-ui-loader>


<!-- Modals Section -->

<ng-template #changePassword>
  <div class="modal-header">
    <h5 id="dialog-static-name" class="modal-title pull-left">Change Password</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <!-- <span aria-hidden="true">&times;</span> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </div>
  <div class="modal-body">
    <form class="row g-3">
      <div class="col-md-12">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control form-control-sm" id="oldPassword">
      </div>
      <div class="col-md-12">
        <label for="newPassword" class="form-label">New Password</label>
        <input 
          type="password" 
          class="form-control form-control-sm" 
          id="newPassword"
          (keyup)="checkPasswordStrength($event.target.value)"
          (keypress)="checkPasswordStrength($event.target.value)"
        >
        <!-- <i class="pi pi-check"></i> -->
      </div>
      <div class="col-md-12">
        <label for="confirmNewPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control form-control-sm" id="confirmNewPassword">
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="reset" class="btn btn-sm btn-outline-danger" (click)="modalRef.hide()">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Change Password</button>
      </div>
    </form>
  </div>
</ng-template>