.app-logo{
    width: 160px;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #1e272e;
    font-size: 0.9rem;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0,0,0,.3);
}
.navbar-brand {
    margin-right: 1.5rem;
}
.dropdown-item{
    padding: .5rem 1.5rem .5rem .75rem;
    font-size: 0.9rem;
}
a.dropdown-item .pi {
    padding-right: 12px;
    vertical-align: middle;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000000;
}
a.userInfo{
    color: #1e272e;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    display: block;
  
}
a.userInfo small{
    color: #9a9a9a;
    font-size: 0.725rem;
    font-weight: 500;
    display: block;
}
.dropdown-toggle::after {
    border-top: .3em solid #485460;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    vertical-align: text-top;
    margin-left: 1.5em;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #2980b9;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2980b9;
}