.filter-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.no-data {
    width: 100%;
    height: calc(100vh - 118px);
}
.no-data label
{
    vertical-align: middle;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(96 125 139 / 65%);
    font-weight: 500;
    font-size: 0.95rem;
}
