<div class="container-fluid g-0">
    <div class="filter-wrap p-1 mt-1">
        <p-calendar [(ngModel)]="selectedDateTime['startDate']" showTime="true" hourFormat="24"></p-calendar>
        <span class="px-2">to</span>
        <p-calendar [(ngModel)]="selectedDateTime['endDate']" showTime="true" hourFormat="24"></p-calendar>
        <button class="btn btn-sm btn-primary mx-2">Filter</button>
    </div>


    <div class="card shadow-sm rounded-0">
        <div class="card-body px-0 py-2">
            <div class="no-data" *ngIf="getProductDetails['trackData'] == null"> 
                <label>
                    <i class="pi pi-folder-open" style="font-size: 2rem"></i>
                    <br/>No data found
                </label>
            </div>
            <div class="table-responsive" *ngIf="getProductDetails['trackData'] !=null">
                <table class="table table-striped mb-0 table-custom">
                    <thead class="table-dark">
                        <tr>
                            <th>Barcode</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7" class="text-center">
                                No data
                            </td>
                            
                        </tr>
                        <tr>
                            <td>079D81A06A50E5BD</td>
                            <td>323</td>
                            <td>123</td>
                            <td>44</td>
                            <td>60</td>
                            <td>12-06-2021</td>
                            <td>View</td>
                        </tr>
                        <tr>
                            <td>079D81A06A50E5BD</td>
                            <td>245</td>
                            <td>123</td>
                            <td>56</td>
                            <td>90</td>
                            <td>01-06-2021</td>
                            <td>View</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>