.info-process{
    width: 640px;
    height: 360px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 8px;
    padding: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.info-process label{
    color: #6c757d;
    font-weight: 500;
}
table th, table td{
    font-size: 0.9rem;
    
}
td a {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 5px 0 5px;
}

.nav-tabs .nav-link {
    font-size: 0.9rem;
}

video.video {
    width: 100%;
}