<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-2">
      <div class="card">
        <div class="card-body p-1">
          <div class="d-flex justify-content-between">            
            <div class="d-flex">
              <div class="mb-0" style="width: 380px; display: inline-block">
                <!-- <label for="formFile" class="form-label">Select video file</label> -->
                <input
                  class="form-control form-control-sm"
                  type="file"
                  id="formFile"
                  (change)="getSelectedFile($event)"
                  #fileUploader
                />
                <p class="mb-0 mt-2" *ngIf="fileUploadStatus == 'success'">
                  <span class="badge bg-success p-2"
                    >Upload Success : {{ _selected_Filename }}</span
                  >
                </p>
                <p class="mb-0 mt-2" *ngIf="fileUploadStatus == 'failed'">
                  <span class="badge bg-danger p-2">Upload Failed</span>
                </p>
              </div>
              <div>
                <button
                  class="btn btn-sm btn-success ms-2"
                  (click)="uploadFile()"
                >
                  Upload video
                </button>
                <button
                  class="btn btn-sm btn-primary ms-2"
                  *ngIf="fileUploadStatus == 'success'"
                  (click)="processVideoFile()"
                >
                  Analyze KAIZEN
                </button>
              </div>
            </div>
            <div>
              <button 
                class="btn btn-sm btn-danger" 
                (click)="closeCharts()"
                *ngIf="isProcessListActive !== true"
              >
                Back to Lists
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="isProcessListActive === true">
      <div class="card">
        <div class="card-body p-1">
          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th>Video File</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of processedList.RESPONSE; let idx = index">
                <td class="w-25">{{ list.Filename }}</td>
                <td class="w-25">{{ list.createdDate | date }}</td>
                <td class="w-25">{{ list.Status }}</td>
                <td class="w-25">
                  <a
                    href="#"
                    class="btn btn-sm btn-primary"
                    role="button"
                    (click)="showSummaryPanel($event, idx)"
                  >
                  
                    Summary
                  </a>
                  <a
                    href="#"
                    class="btn btn-sm btn-primary"
                    role="button"
                    (click)="
                      $event.preventDefault(); openDemoModal(list.Final_Video)
                    "
                  >
                    View Video
                  </a>

                  <!-- <a href="#">Download Summary</a>
                  <a href="#">Download Video</a> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="isProcessListActive !== true">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="summary-tab"
            data-bs-toggle="tab"
            data-bs-target="#summary"
            type="button"
            role="tab"
            aria-controls="summary"
            aria-selected="true"
          >
            Summary
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="with-tab"
            data-bs-toggle="tab"
            data-bs-target="#with"
            type="button"
            role="tab"
            aria-controls="with"
            aria-selected="false"
            (click)="readJSONFile(_selected_file_ID, 'WITH_INT')"
          >
            With Interactions
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="with-out-tab"
            data-bs-toggle="tab"
            data-bs-target="#without"
            type="button"
            role="tab"
            aria-controls="without"
            aria-selected="false"
            (click)="readJSONFile(_selected_file_ID, 'WITHOUT_INT')"
          >
            Without Interactions
          </button>
        </li>
      
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="summary"
          role="tabpanel"
          aria-labelledby="summary-tab"
        >
          <div class="card">
            <div class="card-body p-1">
              <div class="d-flex justify-content-end">
                <select
                  class="form-select form-select-sm"
                  style="width: 130px"
                  (change)="updateSummaryPieCharts($event)"
                >
                  <option value="MAX">MAX</option>
                  <option value="MIN">MIN</option>
                  <option value="AVG">AVG</option>
                </select>
              </div>
              <!-- <p-chart
                type="bar"
                [data]="overAllSummaryChart"
                [options]="basicOptions"
                height="400"
              ></p-chart> -->

              <div
                id=""
                class="w-100 d-flex justify-content-center"
                style="height: calc(100vh - 185px)"
              >
                <!-- <apx-chart #charts
                    [series] = "barChartSummaryOptions.series"
                    [chart] = "barChartSummaryOptions.chart"
                    [yaxis] = "barChartSummaryOptions.yaxis"
                    [xaxis] = "barChartSummaryOptions.xaxis"
                    [labels] = "barChartSummaryOptions.labels"
                    [stroke] = "barChartSummaryOptions.stroke"
                    [title] = "barChartSummaryOptions.title"
                    [dataLabels] = "barChartSummaryOptions.dataLabels"
                    [fill] = "barChartSummaryOptions.fill"
                    [tooltip] = "barChartSummaryOptions.tooltip"
                  >
                  </apx-chart> -->

                <apx-chart
                  [series]="chartOptionsPie_Summary.series"
                  [chart]="chartOptionsPie_Summary.chart"
                  [labels]="chartOptionsPie_Summary.labels"
                  [legend]="chartOptionsPie_Summary.legend"
                  [tooltip]="chartOptionsPie_Summary.tooltip"
                  [responsive]="chartOptionsPie_Summary.responsive"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="with"
          role="tabpanel"
          aria-labelledby="with-tab"
        >
          
          <!-- Inner Tabs -->

          <nav class="d-flex justify-content-between align-items-center">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="nav-contact-tab4"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact4"
                type="button"
                role="tab"
                aria-controls="nav-contact4"
                aria-selected="true"
                (click)="totalTimePieChart()"
              >
                Time based Chart
              </button>
              <button
                class="nav-link"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="false"
                (click)="overAllSummaryCharts()"
              >
                Motion Summary
              </button>
              <button
                class="nav-link"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
                (click)="sBendMotionChart(); eBendMotionChart()"
              >
                Bend Motions
              </button>
              <button
                class="nav-link"
                id="nav-contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact"
                type="button"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
                (click)="rMoveMotionChart()"
              >
                Random Moves
              </button>
              <button
                class="nav-link"
                id="nav-contact-tab1"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact1"
                type="button"
                role="tab"
                aria-controls="nav-contact1"
                aria-selected="false"
                (click)="walkMotionChart()"
              >
                Walk Motions Time
              </button>
              <button
                class="nav-link"
                id="nav-contact-tab2"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact2"
                type="button"
                role="tab"
                aria-controls="nav-contact2"
                aria-selected="false"
                (click)="standMotionChart()"
              >
                Stand Motions Time
              </button>
              <!-- <button
                class="nav-link"
                id="nav-contact-tab3"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact3"
                type="button"
                role="tab"
                aria-controls="nav-contact3"
                aria-selected="false"
              >
                Time based Chart
              </button> -->
              
            </div>
            
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <div class="card">
                <div class="card-body p-1">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm d-none"
                      style="width: 130px"
                      (change)="updateSummaryCharts($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="bar"
                    [data]="overAllSummaryChart"
                    [options]="basicOptions"
                    height="400"
                  ></p-chart> -->
    
                  <div
                    id=""
                    class="w-100"
                    style="height: calc(100vh - 185px)"
                  >
                    <apx-chart #charts
                        [series] = "barChartSummaryOptions.series"
                        [chart] = "barChartSummaryOptions.chart"
                        [yaxis] = "barChartSummaryOptions.yaxis"
                        [xaxis] = "barChartSummaryOptions.xaxis"
                        [labels] = "barChartSummaryOptions.labels"
                        [stroke] = "barChartSummaryOptions.stroke"
                        [title] = "barChartSummaryOptions.title"
                        [dataLabels] = "barChartSummaryOptions.dataLabels"
                        [fill] = "barChartSummaryOptions.fill"
                        [tooltip] = "barChartSummaryOptions.tooltip"
                      >
                      </apx-chart>
    
                    <!-- <apx-chart
                      [series]="chartOptionsPie_Summary.series"
                      [chart]="chartOptionsPie_Summary.chart"
                      [labels]="chartOptionsPie_Summary.labels"
                      [legend]="chartOptionsPie_Summary.legend"
                      [tooltip]="chartOptionsPie_Summary.tooltip"
                      [responsive]="chartOptionsPie_Summary.responsive"
                    ></apx-chart> -->
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              <div class="row g-1">
                <div class="col-6">
                  <div class="card">
                    <div class="card-body p-1">
                      <div class="d-flex justify-content-end">
                        <select
                          class="form-select form-select-sm"
                          style="width: 130px"
                          (change)="updateEBendChart($event)"
                        >
                          <option value="MAX">MAX</option>
                          <option value="MIN">MIN</option>
                          <option value="AVG">AVG</option>
                        </select>
                      </div>
                      <!-- <p-chart
                        type="bar"
                        [data]="eBendChart"
                        [options]="chartOptions"
                      ></p-chart> -->
                      <div id="" class="w-100" style="height: calc(100vh - 185px)">
                        <apx-chart
                          #charts
                          [series]="barChartEBendOptions.series"
                          [chart]="barChartEBendOptions.chart"
                          [yaxis]="barChartEBendOptions.yaxis"
                          [xaxis]="barChartEBendOptions.xaxis"
                          [labels]="barChartEBendOptions.labels"
                          [stroke]="barChartEBendOptions.stroke"
                          [title]="barChartEBendOptions.title"
                          [dataLabels]="barChartEBendOptions.dataLabels"
                          [fill]="barChartEBendOptions.fill"
                          [tooltip]="barChartEBendOptions.tooltip"
                        >
                        </apx-chart>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card-body p-1">
                      <div class="d-flex justify-content-end">
                        <select
                          class="form-select form-select-sm"
                          style="width: 130px"
                          (change)="updateSBendChart($event)"
                        >
                          <option value="MAX">MAX</option>
                          <option value="MIN">MIN</option>
                          <option value="AVG">AVG</option>
                        </select>
                      </div>
                      <!-- <p-chart
                        type="bar"
                        [data]="sBendChart"
                        [options]="chartOptions"
                      ></p-chart> -->
                      <div id="" class="w-100" style="height: calc(100vh - 185px)">
                        <apx-chart
                          #charts
                          [series]="barChartSBendOptions.series"
                          [chart]="barChartSBendOptions.chart"
                          [yaxis]="barChartSBendOptions.yaxis"
                          [xaxis]="barChartSBendOptions.xaxis"
                          [labels]="barChartSBendOptions.labels"
                          [stroke]="barChartSBendOptions.stroke"
                          [title]="barChartSBendOptions.title"
                          [dataLabels]="barChartSBendOptions.dataLabels"
                          [fill]="barChartSBendOptions.fill"
                          [tooltip]="barChartSBendOptions.tooltip"
                        >
                        </apx-chart>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              <div class="card">
                <div class="card-body p-1">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updateRMoveChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <app-random-move [data]="testData.RMove" [lineData]="rMoveMaxPos" [labelData]="testData.PersonID">
    
                  </app-random-move> -->
                  <div id="" class="w-100" style="height: calc(100vh - 185px)">
                    <apx-chart
                      #charts
                      [series]="barChartRMoveOptions.series"
                      [chart]="barChartRMoveOptions.chart"
                      [yaxis]="barChartRMoveOptions.yaxis"
                      [xaxis]="barChartRMoveOptions.xaxis"
                      [labels]="barChartRMoveOptions.labels"
                      [stroke]="barChartRMoveOptions.stroke"
                      [title]="barChartRMoveOptions.title"
                      [dataLabels]="barChartRMoveOptions.dataLabels"
                      [fill]="barChartRMoveOptions.fill"
                      [tooltip]="barChartRMoveOptions.tooltip"
                    >
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-contact1"
              role="tabpanel"
              aria-labelledby="nav-contact-tab1"
            >
              <div class="card">
                <div class="card-body text-center">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updateWalkChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="bar"
                    [data]="walkChart"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart> -->
                  <div id="" class="w-100" style="height: calc(100vh - 185px)">
                    <apx-chart
                      #charts
                      [series]="barChartWalkOptions.series"
                      [chart]="barChartWalkOptions.chart"
                      [yaxis]="barChartWalkOptions.yaxis"
                      [xaxis]="barChartWalkOptions.xaxis"
                      [labels]="barChartWalkOptions.labels"
                      [stroke]="barChartWalkOptions.stroke"
                      [title]="barChartWalkOptions.title"
                      [dataLabels]="barChartWalkOptions.dataLabels"
                      [fill]="barChartWalkOptions.fill"
                      [tooltip]="barChartWalkOptions.tooltip"
                    >
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-contact2"
              role="tabpanel"
              aria-labelledby="nav-contact-tab2"
            >
              <div class="card">
                <div class="card-body text-center">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updateStandChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="bar"
                    [data]="standChart"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart> -->
    
                  <div id="" class="w-100" style="height: calc(100vh - 185px)">
                    <apx-chart
                      #charts
                      [series]="barChartStandOptions.series"
                      [chart]="barChartStandOptions.chart"
                      [yaxis]="barChartStandOptions.yaxis"
                      [xaxis]="barChartStandOptions.xaxis"
                      [labels]="barChartStandOptions.labels"
                      [stroke]="barChartStandOptions.stroke"
                      [title]="barChartStandOptions.title"
                      [dataLabels]="barChartStandOptions.dataLabels"
                      [fill]="barChartStandOptions.fill"
                      [tooltip]="barChartStandOptions.tooltip"
                    >
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
    
            <div
              class="tab-pane fade"
              id="nav-contact3"
              role="tabpanel"
              aria-labelledby="nav-contact-tab3"
            >
              <div class="card">
                <div class="card-body text-center">
                  <p-chart
                    type="line"
                    [data]="basicData2"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart>
                </div>
              </div>
            </div>
    
            <div
              class="tab-pane fade show active "
              id="nav-contact4"
              role="tabpanel"
              aria-labelledby="nav-contact-tab4"
            >
              <div class="card">
                <div class="card-body text-center">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updatePieChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="pie"
                    [data]="dataPie"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart> -->
    
                  <div id="chart" class="d-flex justify-content-center">
                    <apx-chart
                      [series]="chartOptionsPie.series"
                      [chart]="chartOptionsPie.chart"
                      [labels]="chartOptionsPie.labels"
                      [legend]="chartOptionsPie.legend"
                      [tooltip]="chartOptionsPie.tooltip"
                      [responsive]="chartOptionsPie.responsive"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div
          class="tab-pane fade"
          id="without"
          role="tabpanel"
          aria-labelledby="with-out-tab"
        >
          <!--
              _number++;
          -->
          <nav class="d-flex justify-content-between align-items-center">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="nav-wo-time-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-wo-time"
                type="button"
                role="tab"
                aria-controls="nav-wo-time"
                aria-selected="true"
                (click)="totalTimePieChart()"
              >
                Time based Chart
              </button>
              <button
                class="nav-link"
                id="nav-wo-summary-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-wo-summary"
                type="button"
                role="tab"
                aria-controls="nav-wo-summary"
                aria-selected="true"
                (click)="overAllSummaryCharts()"
              >
                Motion Summary
              </button>
              <button
                class="nav-link"
                id="nav-wo-bend-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-wo-bend"
                type="button"
                role="tab"
                aria-controls="nav-wo-bend"
                aria-selected="false"
                (click)="sBendMotionChart(); eBendMotionChart()"
              >
                Bend Motions
              </button>
              <button
                class="nav-link"
                id="nav-wo-Random-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-wo-random"
                type="button"
                role="tab"
                aria-controls="nav-wo-random"
                aria-selected="false"
                (click)="rMoveMotionChart()"
              >
                Random Moves
              </button>
              <button
                class="nav-link"
                id="nav-wo-walk-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-wo-walk"
                type="button"
                role="tab"
                aria-controls="nav-wo-walk"
                aria-selected="false"
                (click)="walkMotionChart()"
              >
                Walk Motions Time
              </button>
              <button
                class="nav-link"
                id="nav-wo-stand-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-wo-stand"
                type="button"
                role="tab"
                aria-controls="nav-wo-stand"
                aria-selected="false"
                (click)="standMotionChart()"
              >
                Stand Motions Time
              </button>
              <!-- <button
                class="nav-link"
                id="nav-contact-tab3"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact3"
                type="button"
                role="tab"
                aria-controls="nav-contact3"
                aria-selected="false"
              >
                Time based Chart
              </button> -->
              
            </div>
            <!-- <button class="btn btn-sm btn-danger" (click)="closeCharts()">
              Back to Lists
            </button> -->
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade"
              id="nav-wo-summary"
              role="tabpanel"
              aria-labelledby="nav-wo-summary-tab"
            >
              <div class="card">
                <div class="card-body p-1">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updateSummaryCharts($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="bar"
                    [data]="overAllSummaryChart"
                    [options]="basicOptions"
                    height="400"
                  ></p-chart> -->
    
                  <div
                    id=""
                    class="w-100"
                    style="height: calc(100vh - 185px)"
                  >
                    <apx-chart #charts
                        [series] = "barChartSummaryOptions.series"
                        [chart] = "barChartSummaryOptions.chart"
                        [yaxis] = "barChartSummaryOptions.yaxis"
                        [xaxis] = "barChartSummaryOptions.xaxis"
                        [labels] = "barChartSummaryOptions.labels"
                        [stroke] = "barChartSummaryOptions.stroke"
                        [title] = "barChartSummaryOptions.title"
                        [dataLabels] = "barChartSummaryOptions.dataLabels"
                        [fill] = "barChartSummaryOptions.fill"
                        [tooltip] = "barChartSummaryOptions.tooltip"
                      >
                      </apx-chart>
    
                    <!-- <apx-chart
                      [series]="chartOptionsPie_Summary.series"
                      [chart]="chartOptionsPie_Summary.chart"
                      [labels]="chartOptionsPie_Summary.labels"
                      [legend]="chartOptionsPie_Summary.legend"
                      [tooltip]="chartOptionsPie_Summary.tooltip"
                      [responsive]="chartOptionsPie_Summary.responsive"
                    ></apx-chart> -->
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-wo-bend"
              role="tabpanel"
              aria-labelledby="nav-wo-bend-tab"
            >
              <div class="row g-1">
                <div class="col-6">
                  <div class="card">
                    <div class="card-body p-1">
                      <div class="d-flex justify-content-end">
                        <select
                          class="form-select form-select-sm"
                          style="width: 130px"
                          (change)="updateEBendChart($event)"
                        >
                          <option value="MAX">MAX</option>
                          <option value="MIN">MIN</option>
                          <option value="AVG">AVG</option>
                        </select>
                      </div>
                      <!-- <p-chart
                        type="bar"
                        [data]="eBendChart"
                        [options]="chartOptions"
                      ></p-chart> -->
                      <div id="" class="w-100" style="height: calc(100vh - 185px)">
                        <apx-chart
                          #charts
                          [series]="barChartEBendOptions.series"
                          [chart]="barChartEBendOptions.chart"
                          [yaxis]="barChartEBendOptions.yaxis"
                          [xaxis]="barChartEBendOptions.xaxis"
                          [labels]="barChartEBendOptions.labels"
                          [stroke]="barChartEBendOptions.stroke"
                          [title]="barChartEBendOptions.title"
                          [dataLabels]="barChartEBendOptions.dataLabels"
                          [fill]="barChartEBendOptions.fill"
                          [tooltip]="barChartEBendOptions.tooltip"
                        >
                        </apx-chart>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card-body p-1">
                      <div class="d-flex justify-content-end">
                        <select
                          class="form-select form-select-sm"
                          style="width: 130px"
                          (change)="updateSBendChart($event)"
                        >
                          <option value="MAX">MAX</option>
                          <option value="MIN">MIN</option>
                          <option value="AVG">AVG</option>
                        </select>
                      </div>
                      <!-- <p-chart
                        type="bar"
                        [data]="sBendChart"
                        [options]="chartOptions"
                      ></p-chart> -->
                      <div id="" class="w-100" style="height: calc(100vh - 185px)">
                        <apx-chart
                          #charts
                          [series]="barChartSBendOptions.series"
                          [chart]="barChartSBendOptions.chart"
                          [yaxis]="barChartSBendOptions.yaxis"
                          [xaxis]="barChartSBendOptions.xaxis"
                          [labels]="barChartSBendOptions.labels"
                          [stroke]="barChartSBendOptions.stroke"
                          [title]="barChartSBendOptions.title"
                          [dataLabels]="barChartSBendOptions.dataLabels"
                          [fill]="barChartSBendOptions.fill"
                          [tooltip]="barChartSBendOptions.tooltip"
                        >
                        </apx-chart>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-wo-random"
              role="tabpanel"
              aria-labelledby="nav-wo-random-tab"
            >
              <div class="card">
                <div class="card-body p-1">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updateRMoveChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <app-random-move [data]="testData.RMove" [lineData]="rMoveMaxPos" [labelData]="testData.PersonID">
    
                  </app-random-move> -->
                  <div id="" class="w-100" style="height: calc(100vh - 185px)">
                    <apx-chart
                      #charts
                      [series]="barChartRMoveOptions.series"
                      [chart]="barChartRMoveOptions.chart"
                      [yaxis]="barChartRMoveOptions.yaxis"
                      [xaxis]="barChartRMoveOptions.xaxis"
                      [labels]="barChartRMoveOptions.labels"
                      [stroke]="barChartRMoveOptions.stroke"
                      [title]="barChartRMoveOptions.title"
                      [dataLabels]="barChartRMoveOptions.dataLabels"
                      [fill]="barChartRMoveOptions.fill"
                      [tooltip]="barChartRMoveOptions.tooltip"
                    >
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-wo-walk"
              role="tabpanel"
              aria-labelledby="nav-wo-walk-tab"
            >
              <div class="card">
                <div class="card-body text-center">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updateWalkChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="bar"
                    [data]="walkChart"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart> -->
                  <div id="" class="w-100" style="height: calc(100vh - 185px)">
                    <apx-chart
                      #charts
                      [series]="barChartWalkOptions.series"
                      [chart]="barChartWalkOptions.chart"
                      [yaxis]="barChartWalkOptions.yaxis"
                      [xaxis]="barChartWalkOptions.xaxis"
                      [labels]="barChartWalkOptions.labels"
                      [stroke]="barChartWalkOptions.stroke"
                      [title]="barChartWalkOptions.title"
                      [dataLabels]="barChartWalkOptions.dataLabels"
                      [fill]="barChartWalkOptions.fill"
                      [tooltip]="barChartWalkOptions.tooltip"
                    >
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="nav-wo-stand"
              role="tabpanel"
              aria-labelledby="nav-wo-stand-tab"
            >
              <div class="card">
                <div class="card-body text-center">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm"
                      style="width: 130px"
                      (change)="updateStandChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="bar"
                    [data]="standChart"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart> -->
    
                  <div id="" class="w-100" style="height: calc(100vh - 185px)">
                    <apx-chart
                      #charts
                      [series]="barChartStandOptions.series"
                      [chart]="barChartStandOptions.chart"
                      [yaxis]="barChartStandOptions.yaxis"
                      [xaxis]="barChartStandOptions.xaxis"
                      [labels]="barChartStandOptions.labels"
                      [stroke]="barChartStandOptions.stroke"
                      [title]="barChartStandOptions.title"
                      [dataLabels]="barChartStandOptions.dataLabels"
                      [fill]="barChartStandOptions.fill"
                      [tooltip]="barChartStandOptions.tooltip"
                    >
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
    
            <div
              class="tab-pane fade"
              id="nav-contact3"
              role="tabpanel"
              aria-labelledby="nav-contact-tab3"
            >
              <div class="card">
                <div class="card-body text-center">
                  <p-chart
                    type="line"
                    [data]="basicData2"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart>
                </div>
              </div>
            </div>
    
            <div
              class="tab-pane fade show active"
              id="nav-wo-time"
              role="tabpanel"
              aria-labelledby="nav-wo-time-tab"
            >
              <div class="card">
                <div class="card-body text-center">
                  <div class="d-flex justify-content-end">
                    <select
                      class="form-select form-select-sm d-none"
                      style="width: 130px"
                      (change)="updatePieChart($event)"
                    >
                      <option value="MAX">MAX</option>
                      <option value="MIN">MIN</option>
                      <option value="AVG">AVG</option>
                    </select>
                  </div>
                  <!-- <p-chart
                    type="pie"
                    [data]="dataPie"
                    [options]="chartOptions"
                    height="100"
                  ></p-chart> -->
    
                  <div id="chart" class="d-flex justify-content-center">
                    <apx-chart
                      [series]="chartOptionsPie.series"
                      [chart]="chartOptionsPie.chart"
                      [labels]="chartOptionsPie.labels"
                      [legend]="chartOptionsPie.legend"
                      [tooltip]="chartOptionsPie.tooltip"
                      [responsive]="chartOptionsPie.responsive"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    
    </div>
  </div>
</div>

<!-- Modals Section -->

<ng-template #modalViewImage>
  <div class="modal-header">
    <h5 id="dialog-static-name" class="modal-title pull-left">View</h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide(); clearItems()"
    >
      <!-- <span aria-hidden="true">&times;</span> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </div>
  <div class="modal-body p-1">
    <div class="text-center">
      <video
        [src]="_viewImageID"
        type="video/mp4"
        class="video"
        controls
        autoplay
        loop
      ></video>
    </div>
  </div>
</ng-template>
